{include file="common/header" /}
{include file="common/menu" /}

<div id="wrapper">
    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="#">管理后台</a></li>
                        <li class="active">
                            <span>首页</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    首页
                </h2>
                <small>管理后台的首页</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    欢迎来到管理后台
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer" /}