<ul class="nav nav-tabs">
    <!-- <li class="{$type == 'slider' ? 'active' : ''}"><a  href="__ROOT__/admin/setting/index?type=slider" aria-expanded="true">轮播图</a></li>
    <li class="{$type == 'navbar' ? 'active' : ''}"><a href="__ROOT__/admin/setting/index?type=navbar" aria-expanded="false">头部导航</a></li>
    <li class="{$type == 'adone' ? 'active' : ''}"><a href="__ROOT__/admin/setting/index?type=adone" aria-expanded="false">热门推荐</a></li>
    <li class="{$type == 'adtwo' ? 'active' : ''}"><a href="__ROOT__/admin/setting/index?type=adtwo" aria-expanded="false">广告Banner</a></li>
    <li class="{$type == 'adthree' ? 'active' : ''}"><a href="__ROOT__/admin/setting/index?type=adthree" aria-expanded="false">主打商品</a></li> -->
</ul>