{include file="common/header" /}
{include file="common/menu" /}

<div id="wrapper">
    <div class="normalheader small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="#">管理后台</a></li>
                        <li>{$title}</li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    {$title}
                </h2>
                <small>{$title}</small>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-2 control-label">洽谈标题</label>
                            <div class="col-sm-4">
                                {$model.reserve.title}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">洽谈地址</label>
                            <div class="col-sm-4">
                                {$model.reserve.address}
                            </div>
                        </div>
                        <div class="row">
                                <label class="col-sm-2 control-label">专家姓名</label>
                                <div class="col-sm-4">
                                    {$model.experts.name}
                                </div>
                            </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">洽谈日期</label>
                            <div class="col-sm-4">
                                {$model.rDate}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">洽谈时间</label>
                            <div class="col-sm-4">
                                {$model.sTime|strtotime|date="H:i", ###}-{$model.eTime|strtotime|date="H:i", ###}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">预约公司</label>
                            <div class="col-sm-4">
                                {$company.cname_cn}
                            </div>
                        </div>
                        
                    <!-- <div class="panel-heading">

                    </div>

                    <div class="panel-heading">
                        操作商品状态
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">-->

                                    <!-- 1 => '审核中',
                                    2 => '代租中',
                                    3 => '租赁中',
                                    4 => '审核未通过',
                                    5 => '已下架', -->

                                <!-- <a href="javascript:void(0);" class="btn btn-info action-button"  data-status="4" data-id="{$model.id}">待审核</a>

                                <a href="javascript:void(0);" class="btn btn-info action-button"   data-status="1" data-id="{$model.id}">审核中</a>

                                <a href="javascript:void(0);" class="btn btn-info action-button" data-status="2" data-id="{$model.id}">代租中</a>

                                <a href="javascript:void(0);" class="btn btn-info action-button"  data-status="3" data-id="{$model.id}">租赁中</a>

                                <a href="javascript:void(0);" class="btn btn-info action-button"  data-status="5" data-id="{$model.id}">已下架</a> 
                                
                            </div>
                        </div>
                    </div> --> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="addSort" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog">
        <div class="hpanel">
            <div class="color-line" style="background: #3498db;"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">请填写快递单号</div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-sm-12"><textarea name="express_number" id="express_number" rows="5" placeholder="请填写/修改快递单号" class="form-control"></textarea></div>
                </div>
                <div class="form-horizontal">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align:right;">
                            <input type="hidden" id="orderSn" value="">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:10px;">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="addPost()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="modal fade in" id="look" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <div class="modal-dialog">
        <div class="hpanel">
            <div class="color-line" style="background: #3498db;"></div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-sm-3 control-label">租金退款单号</label>
                    <div class="col-sm-4">
                       
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                
                <div class="form-horizontal">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12" style="text-align:right;">
                            <input type="hidden" id="orderSn" value=""> -->
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right:10px;">关闭</button> -->
                            <!-- <button type="button" class="btn btn-primary" onclick="addPost()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

{include file="common/footer" /}
<script type="text/javascript">
    function addPost() {
        var express_number = $("#express_number").val();
        var orderSn = $("#orderSn").val();
        if (!express_number) {
            layer.msg('请填写快递单号');
            return false;
        }

        $.ajax({
            url:'__ROOT__/admin/order/editMemo',
            type:'POST',
            data: {
                expressNumber : express_number,
                orderSn : orderSn
            },
            success: function(result) {
                if(result.error == 0) {
                    $('#addSort').modal('hide');
                    location.reload();
                } else {
                    swal(msg, "", "warning");
                }
            }
        });
    };
    
    $('.action-button').on('click', function () {
        var id = $(this).attr('data-id');
        var status = $(this).attr('data-status');
        var that = $(this);
        swal({
                title: "确认要执行该操作吗",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认",
                cancelButtonText: "取消"
            },
            function () {
                $.post('__ROOT__/admin/goods/ajaxDealGoodsStatus', {id:id,status:status}, function (result) {
                    if(result.error == 0) {
                        swal('操作成功');
                        location.reload();
                    }
                });
            });
    });
</script>