<script src="__ROOT__/public/vendor/jquery/dist/jquery.min.js"></script>
<script src="__ROOT__/public/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="__ROOT__/public/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="__ROOT__/public/vendor/iCheck/icheck.min.js"></script>
<script src="__ROOT__/public/vendor/layer/layer.js"></script>
<script src="__ROOT__/public/vendor/dragsort/jquery.dragsort-0.5.2.min.js"></script>
<script src="__ROOT__/public/js/dropify.min.js"></script>
<script src="__ROOT__/public/Ueditor/ueditor.config.js"></script>
<script src="__ROOT__/public/Ueditor/ueditor.all.js"></script>
<script src="__ROOT__/public/Ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__ROOT__/public/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="__ROOT__/public/js/sweet-alert.min.js"></script>
<script src="__ROOT__/public/vendor/ladda/dist/spin.min.js"></script>
<script src="__ROOT__/public/vendor/ladda/dist/ladda.min.js"></script>
<script src="__ROOT__/public/vendor/ladda/dist/ladda.jquery.min.js"></script>
<script src="__ROOT__/public/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datetimepicker.min.js"></script>
<script src="__ROOT__/public/vendor/bootstrap-datepicker-master/dist/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__ROOT__/public/vendor/laydate/laydate.js"></script>

<script src="__ROOT__/public/js/homer.js"></script>
</body>
</html>